<link href="css/resources.css" rel="stylesheet">

<section class="home_container">
    <section class="main_container">
        <h1 class="h1head">Resources:</h1>
        <h2 class="h2head">Coding</h2>
        <div>
            <div class="grid-container">
            <ul>
                <% math.forEach(data => { %>
                    <br>
                <div class="grid-item">    
                <li><h3 class="webhead"><a href="<%= data.link %>"><%= data.title %></a></h3></li>
                <li class="descript"><%= data.description %></li>
                <li class="link"><a href="<%= data.link %>"><%= data.link %></a></li>
                </div>
                    <br>
                <% }) %>
              </ul>
              </div>

            <div class="grid-container1">
                <ul>
                <div class="grid-item">
                 <li><img class="weblogo" src="/images/profile_vrt_raw_bytes_1587515403_10914.png"></li>
                 </div>
                 <div class="grid-item">
                    <li><img class="weblogo" src="/images/qTgTIejk_400x400.jpeg"></li>
                 </div>
                 <div class="grid-item">
                    <li><img class="weblogo sub" src="/public/images/channels4_profile.jpeg"></li>
                 </div>
                 <div class="grid-item">
                    <li><img class="weblogo sub" src="/public/images/1ZRVN-QB_400x400.jpeg"></li>
                 </div>
                 <div class="grid-item">
                    <li><img class="weblogo sub" src="/public/images/Codementor_CIS.png"></li>
                 </div>
                 <div class="grid-item">
                    <li><img class="weblogo" src="/public/images/maxresdefault.jpeg"></li>
                 </div>
                 <div class="grid-item">
                    <li><img class="weblogo add" src="/public/images/maxresdefault1.jpeg"></li>
                 </div>
                 <div class="grid-item">
                    <li><img class="weblogo add" src="/public/images/maxresdefault2.jpeg"></li>
                 </div>
                 <div class="grid-item">
                    <li><img class="weblogo add" src="/public/images/maxresdefault3.jpeg"></li>
                 </div>
                 <div class="grid-item">
                    <li><img class="weblogo add spec" src="/public/images/maxdefault4.jpeg"></li>
                 </div>
                </ul>
            </div>
        </div>
    </section>
</section>