<link href="css/resources.css" rel="stylesheet">

<section class="home_container">
    <section class="main_container">
        <h1 class="h1head">Resouces:</h1>
        <h2 class="h2head">English</h2>
        <div>
            <div class="grid-container">
            <ul>
                <% math.forEach(data => { %>
                    <br>
                <div class="grid-item">    
                <li><h3 class="webhead"><a href="<%= data.link %>"><%= data.title %></a></h3></li>
                <li class="descript"><%= data.description %></li>
                <li class="link"><a href="<%= data.link %>"><%= data.link %></a></li>
                </div>
                    <br>
                <% }) %>
              </ul>
              </div>

            <div class="grid-container1">
                <ul>
                <div class="grid-item">
                 <li><img class="weblogo" src="/public/images/newsela.webp"></li>
                 </div>
                 <div class="grid-item">
                    <li><img class="weblogo" src="/public/images/quill.org.jpeg"></li>
                 </div>
                 <div class="grid-item">
                    <li><img class="weblogo sub" src="/public/images/time4learning.png"></li>
                 </div>
                 <div class="grid-item">
                    <li><img class="weblogo sub" src="/public/images/noredink.png"></li>
                 </div>
                 <div class="grid-item">
                    <li><img class="weblogo sub" src="/public/images/read-write-think-logo.jpeg"></li>
                 </div>
                 <div class="grid-item">
                    <li><img class="weblogo" src="/public/images/read1.jpeg"></li>
                 </div>
                 <div class="grid-item">
                    <li><img class="weblogo" src="/public/images/read2.jpeg"></li>
                 </div>
                 <div class="grid-item">
                    <li><img class="weblogo add" src="/public/images/read3.jpeg"></li>
                 </div>
                 <div class="grid-item">
                    <li><img class="weblogo add" src="/public/images/read4.jpeg"></li>
                 </div>
                 <div class="grid-item">
                    <li><img class="weblogo add spec" src="/public/images/read5.jpeg"></li>
                 </div>
                </ul>
            </div>
        </div>
    </section>
</section>