<link href="css/science.css" rel="stylesheet">

<section class="home_container">
    <section class="main_container">
        <h1>Resources</h1>
        <h2>Science</h2>
        <div>
            <div class="grid-container">
            <ul>
                <% science.forEach(data => { %>
                    <br>
                <div class="grid-item">    
                <li><h3 class="webhead"><a href="<%= data.link %>" class="rs-link"><%= data.title %></a></h3></li>
                <li class="descript"><%= data.description %></li>
                <li class="link"><a href="<%= data.link %>" class="rs-link"><%= data.link %></a></li>
                </div>
                    <br>
                <% }) %>
              </ul>
              </div>

            <div class="grid-container1">
                <ul>
                <div class="grid-item">
                 <li><img class="weblogo" src="/images/science-img1.jpg"></li>
                 </div>
                 <div class="grid-item two">
                    <li><img class="weblogo" src="/images/science-img2.jpg"></li>
                 </div>
                 <div class="grid-item three">
                    <li><img class="weblogo sub" src="/images/science-img3.png"></li>
                 </div>
                 <div class="grid-item four">
                    <li><img class="weblogo sub" src="/images/science-img4.png"></li>
                 </div>
                 <div class="grid-item five">
                    <li><img class="weblogo sub" src="/images/science-img5.png"></li>
                 </div>
                 <div class="grid-item six">
                    <li><img class="weblogo" src="/images/science-img6.jpg"></li>
                 </div>
                 <div class="grid-item seven">
                    <li><img class="weblogo add" src="/images/science-img7.jpg"></li>
                 </div>
                 <div class="grid-item eight">
                    <li><img class="weblogo add" src="/images/science-img8.jpg"></li>
                 </div>
                 <div class="grid-item nine">
                    <li><img class="weblogo add" src="/images/science-img9.jpg"></li>
                 </div>
                 <div class="grid-item ten">
                    <li><img class="weblogo add spec" src="/images/science-img10.jpg"></li>
                 </div>
                </ul>
            </div>
        </div>
    </section>
</section>